

/* 전체 묶음 */
.search_case {
    width : 500px;
    padding: 32px;
}

/* input 버튼(검색창/검색버튼 묶는 부분) */


/* 자동완성 검색 나오는 모양 지정*/
.suggestions > div {
    padding: 5px;
    /* 자동완성 검색 밑에 밑줄 */
    border-top: 1px solid #888;
    /* 선택했을때 손가락 모양 나오게 하는거 */
    cursor: pointer;
    
}

/* 커서 가져다 댔을 때 회색으로 변하는 거 */
.suggestions > div:hover {
    background-color: rgb(207, 204, 204);
}